{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container pt-5">
    <div class="bg-light p-4 text-dark">
        {% if error_message %}
        <div class="alert alert-danger" role="alert">
            {{ error_message }}
        </div>
        {% endif %}

        <h2>To Cancel Your Appointment Please Enter Your Appointment ID.</h2>
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-4">
                    <label style="font-size: 25px;">Enter Your Appointment Id :</label>
                </div>
                <div class="col-6">
                    <input class="form-control" name="booking_id" value="PPET-">
                </div>
                <div>
                    <button class="btn btn-danger">Next</button>
                </div>
            </div>
        </form>
    </div>
</div>


{% endblock %}