{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container">

 <h3>Appointment Details</h3>

    <p>Do You Want to Cancel This Appointment <strong>Booking ID:</strong> {{ appointment.booking_id }}</p>
    <p><strong>Name:</strong> {{ appointment.name }}</p>
    <p>This Appointment Belongs To <strong>Email :</strong> {{appointment.email}}</p>
    <p><strong>Mobile :</strong> {{appointment.number}}</p>
    <p><strong>Pet :</strong> {{appointment.pet}}</p>
    <p><strong>Pet Name :</strong> {{appointment.pet_name}}</p>
    <p><strong>Pickup Location :</strong> {{appointment.pickup_location}}</p>
    <p><strong>Drop Location :</strong> {{appointment.drop_location}}</p>
    <p><strong>Date :</strong> {{appointment.date}}</p>
    <p><strong>Time :</strong> {{appointment.time}}</p>
    <p><strong>Service :</strong> {{appointment.selected_service}}</p>
    <p><strong>Instructions :</strong> {{appointment.instructions}}</p>
    <form method="post" action="{% url 'cancel_booking' %}">
        {% csrf_token %}
        <input type="hidden" name="booking_id" value="{{ appointment.booking_id }}">
        <input type="submit" value="Cancel Appointment">
    </form>
</div>
{% endblock %}