{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container pt-3">
    <div>
        <h4>EMERGENCY PET TRANSPORTATION PROTOCOL AGREEMENT</h4>
        <p>This Emergency Pet Transportation Protocol Agreement (the "Agreement") is made and entered into on this Date:
            .............., by and between:</p>
    </div>

    <div>
        <h4>P-Pet Arrivals </h4>

    </div>

    <div>
        <h4>Pet Owner: </h4>
        <p>Name: ........</p>
        <p>Address: ........</p>
        <p>City, State, Zip Code: ........</p>
        <p>Email Address: ........</p>
        <p>Phone Number: ........</p>
    </div>
    <p>(Collectively referred to as the "Parties")</p>

    <div>
        <ol>
            <li>
                <div><h4>Emergency Situations and Detours:</h4>
                    <p>In the event that the pet experiences a medical emergency or shows signs of distress during
                    transportation, P-Pet Arrivals reserves the right to detour to the nearest available veterinary
                    emergency hospital for immediate medical attention. The safety and well-being of the pet are of
                    utmost priority, and this detour may be necessary to ensure the pet receives timely and appropriate
                    medical care.</p>
                </div>
            </li>

            <li>
                <div><h4>Phone Availability:</h4>
                    <p>P-Pet Arrivals agrees to have a working phone on hand and readily accessible during the entire duration of the transportation service. The phone will be used for communication purposes, especially in the case of emergencies. The Pet Owner also agrees to keep their phone on hand and accessible in case P-Pet Arrivals needs to contact them during the transport, especially in emergency situations.</p>
                </div>
            </li>

            <li>
                <div><h4>Authorization for Emergency Medical Care:</h4>
                    <p>The Pet Owner hereby authorizes P-Pet Arrivals to seek emergency medical care for the pet if deemed necessary by a licensed veterinarian during transportation. The Pet Owner agrees to be responsible for any costs associated with emergency medical treatment, including but not limited to veterinary fees, medications, and procedures.</p>
                </div>
            </li>


            <li>
                <div><h4>Communication During Emergencies:</h4>
                    <p>In the event of an emergency, P-Pet Arrivals will promptly contact the Pet Owner to inform them of the situation, the actions taken, and any recommended treatments or procedures. The Pet Owner agrees to remain reachable and respond promptly to phone calls or messages during the transportation period.</p>
                </div>
            </li>

            <li>
                <div><h4>Liability Disclaimer:</h4>
                    <p>The Parties understand and agree that P-Pet Arrivals shall not be held liable for any medical complications, injuries, or outcomes related to emergency medical care provided to the pet. The Pet Owner acknowledges that emergency situations are unpredictable, and P-Pet Arrivals acts in good faith to ensure the pet's well-being.</p>
                </div>
            </li>


            <li>
                <div><h4>Entire Agreement:</h4>
                    <p>This Agreement contains the entire agreement between the Parties concerning the subject matter hereof and supersedes all prior and contemporaneous agreements and understandings, whether oral or written.</p>
                </div>
            </li>
        </ol>

        <strong>IN WITNESS WHEREOF,</strong><p>the Parties hereto have executed this Emergency Pet Transportation Protocol Agreement as of the Effective Date.</p>
    </div>

<div>
    <h4>P-Pet Arrivals:</h4>

    [Authorized Representative's Name]
[Company Name]
Date: _________________
Pet Owner:
________________________________________
[Pet Owner's Name]
Date: _________________

</div>


</div>

{% endblock %}