{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container pt-3">
    <div>
        <h4>PET TRANSPORTATION PAYMENT AGREEMENT</h4>
        <p>This Pet Transportation Payment Agreement (the "Agreement") is made and entered into on this [Date], by and between:</p>
    </div>

    <div>
        <h4>P-Pet Arrivals </h4>

    </div>

    <div>
        <h4>Pet Owner: </h4>
        <p>Name: ........</p>
        <p>Address: ........</p>
        <p>City, State, Zip Code: ........</p>
        <p>Email Address: ........</p>
        <p>Phone Number: ........</p>
    </div>
    <p>(Collectively referred to as the "Parties")</p>
    <div>
        <ol>
            <li>
                <div><h4>Payment Obligation:</h4>
                <p>The Pet Owner agrees to pay P-Pet Arrivals the total amount specified in the service request for the pet transportation services. The payment shall be made in full before the commencement of the transportation service, unless otherwise agreed upon in writing by both Parties.</p>
                </div>
            </li>
            <li>
                <div><h4>Payment Methods:</h4>
                <p>Payment can be made via the following methods:</p>
                    <ul>
                        <li>
                            <p><strong>Credit/Debit Card: </strong>The Pet Owner may provide credit or debit card information for payment processing.</p>
                        </li>
                        <li>
                            <p><strong>Electronic Funds Transfer (EFT): </strong>P-Pet Arrivals may provide the Pet Owner with bank account details for EFT payments.</p>
                        </li>
                        <li>
                            <p><strong>Cash Payment: </strong>Cash payments are accepted upon agreement between the Parties and must be handed directly to the authorized representative of P-Pet Arrivals at the time of service.</p>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div><h4>Payment Obligation:</h4>
                    <p>In the event that the Pet Owner fails to make the payment on the agreed-upon date, a late fee may be applied. The late fee amount will be specified in writing and added to the total outstanding balance.</p>
                </div>
            </li>

            <li>
                <div><h4>Refunds:</h4>
                    <p>Refunds will only be provided if P-Pet Arrivals fails to fulfill the agreed-upon transportation services. No refunds will be issued once the transportation service has been successfully completed, unless otherwise agreed upon in writing by both Parties.</p>
                </div>
            </li>

            <li>
                <div><h4>Entire Agreement:</h4>
                    <p>This Agreement contains the entire agreement between the Parties concerning the subject matter hereof and supersedes all prior and contemporaneous agreements and understandings, whether oral or written.   </p>             </div>
            </li>
        </ol>

        <p><strong>IN WITNESS WHEREOF, </strong> the Parties hereto have executed this Pet Transportation Payment Agreement as of the Effective Date.</p>
    </div>

    P-Pet Arrivals:
________________________________________
[Authorized Representative's Name]
[Company Name]
Date: _________________
Pet Owner:
________________________________________
[Pet Owner's Name]
Date: _________________



</div>



{% endblock %}