{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container pt-3">
    <div>
        <h4>PET TRANSPORTATION SERVICES AGREEMENT</h4>
        <p>This Pet Transportation Services Agreement (the "Agreement") is made and entered into on this [Date], by and
            between:</p>
    </div>

    <div>
        <h4>P-Pet Arrivals </h4>

    </div>

    <div>
        <h4>Pet Owner: </h4>
        <p>Name: ........</p>
        <p>Address: ........</p>
        <p>City, State, Zip Code: ........</p>
        <p>Email Address: ........</p>
        <p>Phone Number: ........</p>
    </div>
    <p>(Collectively referred to as the "Parties")</p>

    <div>
        <ol>
            <li>
                <h4>Services:</h4>
                <p>P-Pet Arrivals agrees to provide pet transportation services to the Pet Owner's designated locations
                    within the city of Winnipeg, as specified in the service request. The services shall include
                    transportation to and from veterinary clinics, dog parks, grooming facilities, and boarding
                    facilities.</p>
            </li>

            <li>
                <h4>Pet Safety:</h4>
                <p>P-Pet Arrivals shall take all necessary precautions to ensure the safety and well-being of the pet
                    during transportation. The company will have video security running in the vehicle during the entire
                    duration of the transport to monitor the pet's safety and behavior.</p>
            </li>

            <li>
                <h4>Limitation of Liability:</h4>
                <p>The Parties understand and agree that P-Pet Arrivals shall not be held liable for any injury, loss, or damage to the pet that occurs during transportation. The Pet Owner acknowledges that pet transportation inherently involves some level of risk, and P-Pet Arrivals shall not be responsible for any illness, injury, escape, or other harm that may befall the pet during the transportation process.</p>
            </li>

            <li>
                <h4>Release and Indemnification:</h4>
                <p>The Pet Owner releases P-Pet Arrivals, its employees, agents, and representatives from any and all claims, liabilities, demands, actions, causes of action, costs, and expenses arising out of or in any way connected with the pet transportation services provided by the company. The Pet Owner further agrees to indemnify and hold P-Pet Arrivals harmless against any claims by third parties related to the pet's transportation.</p>
            </li>

            <li>
                <h4>Termination:</h4>
                <p>Either Party may terminate this Agreement with written notice to the other Party. Any outstanding payments for services rendered prior to the termination date shall be due and payable according to the terms outlined in this Agreement.</p>
            </li>

            <li>
                <h4>Entire Agreement:</h4>
                <p>This Agreement contains the entire agreement between the Parties concerning the subject matter hereof and supersedes all prior and contemporaneous agreements and understandings, whether oral or written.</p>
            </li>
        </ol>

        <p><strong>IN WITNESS WHEREOF, </strong>the Parties hereto have executed this Pet Transportation Services Agreement as of the Effective Date.</p>
    </div>

    P-Pet Arrivals:
________________________________________
[Authorized Representative's Name]
[Company Name]
Date: _________________

Pet Owner:
________________________________________
[Pet Owner's Name]
Date: _________________




</div>

{% endblock %}