{% extends 'base.html' %}
{% block content %}
{% load static %}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <img class="img-fluid" src="{% static 'img/about_banner.jpeg' %}" style="max-height: 300px;">
        </div>
    </div>


<div class="row justify-content-center" style="background-color: #e7ddcb;">
    <div class="col-md-8 col-12 order-md-1 order-2 pt-3 text-center">
        <h2 style="color: #030842;">P-Pet Arrivals: Your Pet's Trusted Journey to Wellness</h2>
        <p class="mb-4" style="color: #030842; font-size: 19px;">
            At P-Pet Arrivals, we understand that your furry companions are more than just pets – they are
            cherished members of your family. Based in the heart of Winnipeg, we specialize in providing
            safe, reliable, and compassionate
            <mark><b>transportation services</b></mark>
            for pets to and from veterinary clinics, dog parks, grooming, and boarding facilities.
        </p>
    </div>
    <div class="col-md-4 col-12 order-md-2 order-1 text-center">
        <img class="img-fluid" src="{% static 'img/logo.jpg' %}" style="height: 200px; width: 200px;">
    </div>
    <div class="col-md-8 col-12 order-md-3 order-3 text-center">
        <h4 style="color: #030842;"><i class="fa fa-quote-left"></i> Our mission is to bridge the gap for pet owners
            who, due to various reasons, are unable to personally escort their pets to essential appointments or
            activities.</h4>
    </div>
</div>
</div>

<div>
</div>


<div class="container pt-3">
    <div class="text-center">
        <h1 style="color: #030842;">Why Choose P-Pet Arrivals?</h1>
    </div>

    <div class="pt-1">
        <h4 style="color: #030842;">Convenience Redefined:</h4>
        <p style="color: #030842; font-size:19px;">Life can get busy, and schedules can be unpredictable. P-Pet Arrivals
            offers you the flexibility and
            convenience you need. We ensure your pet never misses a crucial vet visit or a day of play at the dog park,
            even when you can't be there.</p>
    </div>

    <div class="pt-1">
        <h4 style="color: #030842;">Safety First:</h4>
        <p style="color: #030842; font-size:19px;">Your pet's safety is our top priority. Our vehicles are specially
            equipped to guarantee a secure and comfortable ride for your furry friend. Our experienced and caring
            drivers are trained to handle pets of all sizes and temperaments, ensuring a stress-free journey for your
            pet.</p>
    </div>

    <div class="pt-1">
        <h4 style="color: #030842;">Personalized Care:</h4>
        <p style="color: #030842; font-size:19px;">Every pet is unique, and we recognize their individual needs. Whether
            it's a calming presence during vet visits or ensuring they have a playful experience at the dog park, our
            team provides personalized attention to make every trip enjoyable for your pet.</p>
    </div>

    <div class="pt-1">
        <h4 style="color: #030842;">Reliability You Can Trust:</h4>
        <p style="color: #030842; font-size:19px;">With P-Pet Arrivals, you can rely on punctuality and professionalism.
            We understand the importance of timeliness, especially when it comes to medical appointments. Rest assured,
            your pet will reach their destination promptly and safely.</p>
    </div>

    <div class="pt-1">
        <h4 style="color: #030842;">Compassionate Assistance:</h4>
        <p style="color: #030842; font-size:19px;">We cater to pet owners facing various challenges, whether it's due to
            busy work schedules, health issues, or mobility constraints. P-Pet Arrivals acts as a compassionate
            extension of your care, ensuring your pet receives the attention they deserve, even when you
            cannot be there.
        </p>
    </div>
</div>

{% endblock %}