{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container pt-5">
   <div class="bg-light p-4 text-dark">
       <div class="row">
           <div class="col-4">
               <p>Name :</p>
           </div>
           <div class="col-8">
               <p>{{name}}</p>
           </div>

       </div>
        <div class="row">
           <div class="col-4">
               <p>Email :</p>
           </div>
           <div class="col-8">
               <p>{{email}}</p>
           </div>

       </div>
        <div class="row">
           <div class="col-4">
               <p>Mobile :</p>
           </div>
           <div class="col-8">
               <p>{{number}}</p>
           </div>

       </div>
        <div class="row">
           <div class="col-4">
               <p>Pet :</p>
           </div>
           <div class="col-8">
               <p>{{pet}}</p>
           </div>
        </div>
       <div class="row">
           <div class="col-4">
               <p>Pet Name :</p>
           </div>
           <div class="col-8">
               <p>{{pet_name}}</p>
           </div>
        </div>
       <div class="row">
           <div class="col-4">
               <p>Pickup Location :</p>
           </div>
           <div class="col-8">
               <p>{{pickup_location}}</p>
           </div>
        </div>
       <div class="row">
           <div class="col-4">
               <p>Drop Location :</p>
           </div>
           <div class="col-8">
               <p>{{drop_location}}</p>
           </div>
        </div>
       <div class="row">
           <div class="col-4">
               <p>Date :</p>
           </div>
           <div class="col-8">
               <p>{{date}}</p>
           </div>
        </div>
       <div class="row">
           <div class="col-4">
               <p>Time :</p>
           </div>
           <div class="col-8">
               <p>{{time}}</p>
           </div>
        </div>
       <div class="row">
           <div class="col-4">
               <p>Service :</p>
           </div>
           <div class="col-8">
               <p>{{selected_service}}</p>
           </div>
        </div>
       <div class="row">
           <div class="col-4">
               <p>Instructions :</p>
           </div>
           <div class="col-8">
               <p>{{instructions}}</p>
           </div>
        </div>
       <div class="d-flex justify-content-end">
          <form method="post" action="{% url 'save' %}">
               {% csrf_token %}
    <button class="btn btn-lg btn-primary" type="submit">Confirm</button>

</form>
           </div>
   </div>

</div>



{% endblock %}